#main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 95vh;
}

.digit {
	display: flex;
	flex-direction: column;
	padding-right: 10px;
	margin-left: 5px;
}

.row {
	display: flex;
	flex-direction: row;
}

.bit {
	background-color: #BFBFBF;
	border-radius: 2vh;
	width: 7vh;
	height: 7vh;
	margin-top: 5px;
	margin-left: 5px;
}

.divider {
	background-color: #FFFFFF;
	width: 15vh;
	height: 100%;
}
